/*
//Example of the secret header file. Define your wifi SSID, Password, and mqtt broker address in secret.h. 

#ifndef SECRET_H
#define SECRET_H

#include <ESP8266WiFi.h>

#define SECRET_SSID  "boo.com"
#define SECRET_PASSWORD  "yaa"
#define SECRET_BROKER  "broker.mqtt-dashboard.com"

#endif
*/